.personalInfo{
    background:
        linear-gradient(rgba(0, 127, 255, 0.6), rgba(0, 127, 255, 0.6)), 
        url('../Resources/Images/pexels/pexels-vladbagacian-3987066.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10%;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.pic .profile .topSkills{
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
    min-width: 250px;
}

.link h4{
    font-weight: bold 80%;
    color: #FFD700; 
}

.github h4{
    font-weight: bold 80%;
    color: #FFD700; 
}

.content{
    padding: 10%;

    background:
        linear-gradient(rgba(0, 127, 255, 0.6), rgba(0, 0, 139, 0.6));
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}