.personalInfo{
    background:
        linear-gradient(rgba(0, 127, 255, 0.6), rgba(0, 127, 255, 0.6)), 
        url('../Resources/Images/pexels/pexels-vladbagacian-3987066.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10%;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.pic .profile{
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
    min-width: 250px;
}

.link{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.content{
    padding: 5%;   

    background-color: whitesmoke;
   /* background:
        linear-gradient( rgba(0, 127, 255, 0.6));*/
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    
    color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.project p{
    text-align: center;
}

.fa-solid.fa-laptop-code.fa-2xl{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slideRight{
    0%{transform: translate(0);}
    35%{transform: translateX(50%);}
    60%{transform: translateX(-50%);}
    100%{transform: translateX(50%);}
}

