.content{
    padding: 20px;
    background-color: lavender;
}

.education p{
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-left: 10px;;
}

.techskills{
    padding-left: 10px;
}

.techskills h5{
    font-weight: bold;
}

.workexp{
    padding-left: 10px;
}

.workexp h5{
    font-weight: bold;
}

.workexp li{
    width: 60%
}

.box{
    /*display: none;*/
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: lavender;
}

.title{
    font-weight: bold;
    font-size: 20px;
}